<app-page-preload></app-page-preload>
<app-top-header-bar></app-top-header-bar>
<app-left-menu></app-left-menu>
<div id="content">
  <app-page-bread-crumb></app-page-bread-crumb>
  <div class="container-fluid">
    <div class="row-fluid" style="background-color: #f6f5f5;">
      <form class="form-horizontal" (ngSubmit)="f.form.valid && submitSearchDetails();" #f="ngForm"
        accept-charset="UTF-8">
        <div class="span12">
          <div class="span5">
            <label class="control-label">Object Type: </label>
            <div class="input-group">
              <select class='select-option form-control' name="selectedObject" required
                [(ngModel)]='searchOptions.selectedObject' #selectedObject="ngModel">
                <option value=null> Select Object Type</option>
                <option class='option' *ngFor='let option of objectTypes' [value]="option._id">
                  {{option.FileTypeName}}</option>
              </select>
            </div>
          </div>
          <div class="span5">
            <label class="control-label">Search for:</label>
            <div class="input-group">
              <input class="form-control" [(ngModel)]='searchOptions.searchKeyword' #searchKeyword="ngModel"
                name="searchKeyword" type="text" placeholder="Enter keyword(s) to search" required />
            </div>
          </div>
          <div class="span2">
            <label class="control-label">Search Option:</label>
            <div class="input-group">
              <span style="padding: 8px;">AND</span>
              <ui-switch [(ngModel)]='searchOptions.andOrOption' name="andOrOption" #andOrOption="ngModel"
                (change)="searchOptionChange($event);" checked></ui-switch>
              <span style="padding: 8px;">OR</span>
            </div>
          </div>
        </div>
        <div class="span12" style="margin-left: 0;">
          <div class="span5">
            <label class="control-label">Search Scope:</label>
            <div class="input-group">
              <table>
                <tr>
                  <td>
                    <div class="input-group text-left">
                      <div class="pretty p-svg p-curve p-bigger">
                        <input [(ngModel)]="searchOptions.searchScope.objectName" #objectName="ngModel"
                          name="objectName" type="checkbox" />
                        <div class="state p-success">
                          <i class="icon mdi mdi-check"></i>
                          <svg class="svg svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                              style="stroke: white;fill:white;"></path>
                          </svg>
                          <label>Object Name</label>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="input-group text-left">
                      <div class="pretty p-svg p-curve p-bigger">
                        <input [(ngModel)]="searchOptions.searchScope.objectStatements" #objectStatements="ngModel"
                          name="objectStatements" type="checkbox" />
                        <div class="state p-success">
                          <i class="icon mdi mdi-check"></i>
                          <svg class="svg svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                              style="stroke: white;fill:white;"></path>
                          </svg>
                          <label>Object Statements</label>
                        </div>
                      </div>
                    </div>
                  </td>
                  <!--  <td>
                  <div class="input-group text-left">
                    <div class="pretty p-svg p-curve p-bigger">
                      <input name="IsCtCode" type="checkbox" />
                      <div class="state p-success">
                        <i class="icon mdi mdi-check"></i>
                        <svg class="svg svg-icon" viewBox="0 0 20 20">
                          <path
                            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                            style="stroke: white;fill:white;"></path>
                        </svg>
                        <label>Workflow Names</label>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="input-group text-left">
                    <div class="pretty p-svg p-curve p-bigger">
                      <input name="IsCtCode" type="checkbox" />
                      <div class="state p-success">
                        <i class="icon mdi mdi-check"></i>
                        <svg class="svg svg-icon" viewBox="0 0 20 20">
                          <path
                            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                            style="stroke: white;fill:white;"></path>
                        </svg>
                        <label>Workflow Statements</label>
                      </div>
                    </div>
                  </div>
                </td> -->
                  <td>
                    <div class="input-group text-left">
                      <div class="pretty p-svg p-curve p-bigger">
                        <input [(ngModel)]="searchOptions.searchScope.tags" #tags="ngModel" name="tags"
                          type="checkbox" />
                        <div class="state p-success">
                          <i class="icon mdi mdi-check"></i>
                          <svg class="svg svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                              style="stroke: white;fill:white;"></path>
                          </svg>
                          <label>Tags</label>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="input-group text-left">
                      <div class="pretty p-svg p-curve p-bigger">
                        <input [(ngModel)]="searchOptions.searchScope.uploadedDocuments" #uploadedDocuments="ngModel"
                          name="uploadedDocuments" type="checkbox" />
                        <div class="state p-success">
                          <i class="icon mdi mdi-check"></i>
                          <svg class="svg svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                              style="stroke: white;fill:white;"></path>
                          </svg>
                          <label>Documents</label>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="span6">
            <label class="control-label">Comments Option:</label>
            <div class="input-group">
              <table style="width: 100%;">
                <tr>
                  <td>
                    <table style="width: 100%;">
                      <tr>
                        <td style="width: 30%;">
                          <div class="radio">
                            <label>
                              <input type="radio" [(ngModel)]="searchOptions.includeComments" ngModel
                              class="ng-valid ng-dirty ng-touched" checked="checked" name="includeComments" value="true"> Include Comments
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="radio">
                            <label>
                              <input type="radio" [(ngModel)]="searchOptions.includeComments" ngModel
                                name="excludeComments" value="false"> Exclude Comments
                            </label>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="span2" style="margin-left: 0; padding-top: 5px;">
          <div class="input-group">
            <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary" id="btnGo">Search</button>
          </div>
        </div>
        <div class="span12" style="min-height: 5px;"></div>
      </form>
    </div>
  </div>
  <div class="span12" style="padding: 0;">
    <hr>
  </div>
  <div class="container-fluid" *ngIf="showResult">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Search Results:</h5>
          </div>
          <div class="widget-content nopadding widget-box">
            <div class="span12">
              <table class="table table-bordered table-striped data-table table table-borderless table-earning">
                <thead>
                  <tr>
                    <th>#Sr</th>
                    <th>Statement</th>
                    <th>Object Name</th>
                    <th>Type</th>
                    <th>Project Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let srm of searchResults; let i = index;" [ngClass]="i%2 === 0 ? 'even': 'odd'">
                    <td>{{i+1}}</td>
                    <td>{{srm.OriginalStatement}}</td>
                    <td>{{srm.FileMaster.FileNameWithoutExt}}</td>
                    <td>{{srm.FileMaster.FileTypeMaster.FileTypeExtension}}</td>
                    <td>{{srm.FileMaster.ProjectMaster.ProjectName}}</td>
                    <td>
                      <button class="s-process" value="source" (click)="doAction('source', srm.FileMaster);"
                        href="#object-source-modal" data-toggle="modal"
                        style="background-color: #27a9e3; color: white; border: 1px solid transparent;">source</button>&nbsp;
                      <button type="button" class="s-process" value="view" (click)="doAction('view', srm.FileMaster);"
                        style="background-color: #4c7a40; color: white; border: 1px solid transparent;">view</button>&nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="object-source-modal" class="modal hide">
  <div class="modal-header">
    <h2>Object Source</h2>
    <button data-dismiss="modal" class="close" type="button">×</button>
  </div>
  <div class="modal-body" style="padding: 5px 20px;">
    <search-text [searchTextConfig]="searchTextConfig"></search-text>
  </div>
</div>
<app-footer></app-footer>
