<app-page-preload></app-page-preload>
<app-top-header-bar></app-top-header-bar>
<app-left-menu></app-left-menu>
<div id="content">
  <!-- <app-page-bread-crumb></app-page-bread-crumb> -->
  <div class="container-fluid">
    <upload-documents
      [uploadConfig]="config"
      (emitResponse)="getResponse($event)"
    ></upload-documents>
  </div>
  <form name="form" (ngSubmit)="submitFile()" #f="ngForm" novalidate>
    <div class="form-group row ">
      <div class="col col-md-6 ">
        <label>Select Date Column</label>
        <select class="form-control" name="DateColumn" ngModel required>
          <option value="">Select Date Column</option>
          <option *ngFor="let h of headers" [value]="h">{{ h }}</option>
        </select>
        <!-- <div *ngIf="f.submitted " class="help-block">Select Item For Date </div> -->
      </div>
      <div class="col col-md-6">
        <label>Select Primary Key Columns</label>
        <ng-select
          placeholder="Select Primary Key"
          multiple="true"
          name="PrimaryKeys"
          [(ngModel)]="selected"
          required
        >
          <ng-option [value]="h" *ngFor="let h of headers">{{ h }}</ng-option>
        </ng-select>
        <!-- <div *ngIf="f.submitted " class="help-block">Select Item For Primary Keys </div> -->
      </div>
    </div>
    <div class="form-group row ">
      <div class="col col-md-6 ">
        <label>Date Format</label>
        <input
          type="text"
          name="DateFormat"
          class="form-control"
          placeholder="mm/dd/yyyy"
          ngModel
          required
        />
        <!-- <div *ngIf="f.submitted " class="help-block">Provide Date Format </div> -->
      </div>
      <div class="col col-md-6">
        <label>Select Numeric Fields</label>
        <ng-select
          placeholder="Select Primary Key"
          multiple="true"
          name="NumericFields"
          [(ngModel)]="selectedKeys"
          required
        >
          <ng-option [value]="h" *ngFor="let h of headers">{{ h }}</ng-option>
        </ng-select>
        <!-- <div *ngIf="f.submitted " class="help-block">Select Item For Numeric Fields </div> -->
      </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        [disabled]="f.form.invalid"
        class="btn btn-primary mr-2"
      >
        Submit
      </button>
      <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
  </form>
</div>
<app-footer></app-footer>
