<ol class="breadcrumb">
  <li style="width: 25%;">
    <div>
      <input type="text" (click)="triggerClick(this);" [id]="this.selectedFiles"
        [placeholder]="uploadConfig.placeHolder" class="form-control selected-files" />
    </div>
  </li>
  <li style="width: 10%; vertical-align: text-bottom; padding-bottom: 8px; padding-left: 7px;">
    <div class="file-upload">
      <input type="file" class="form-control-file" (change)="showSelected();" [accept]="uploadConfig.allowExtensions"
        [id]="this.fileCtrl" [multiple]="uploadConfig.multiple" />
    </div>
  </li>
  <li>
    <div>
      <button style="height: 34px;" class="btn btn-primary btn-labeled" (click)="uploadDocuments();"
        type="button" [id]="this.uploadBtn">Upload</button>
    </div>
  </li>
</ol>
<div class="col-md-12" style="padding: 0 1px;" colspan="3" [id]="[uploadConfig.id+'-tdMsg']">
</div>

<!-- <table style="width: 100%;">
  <tr>
    <td>
      <div>
        <input type="text" (click)="triggerClick(this);" [id]="this.selectedFiles"
          [placeholder]="uploadConfig.placeHolder" class="form-control selected-files" />
      </div>
    </td>
    <td>
      <div class="file-upload">
        <input type="file" class="form-control-file" (change)="showSelected();" [accept]="uploadConfig.allowExtensions"
          [id]="this.fileCtrl" [multiple]="uploadConfig.multiple" />
      </div>
    </td>
    <td>
      <div>
        <button class="btn btn-primary btn-labeled fa fa-upload" (click)="uploadDocuments();" type="button"
          [id]="this.uploadBtn">Upload</button>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="col-md-12" style="padding: 0 1px;" colspan="3" [id]="[uploadConfig.id+'-tdMsg']">
      </div>
    </td>
  </tr>
</table>
 -->
