<app-page-preload></app-page-preload>
<app-top-header-bar></app-top-header-bar>
<app-left-menu></app-left-menu>
<div id="content">
  <app-page-bread-crumb></app-page-bread-crumb>
  <div class="container-fluid">
    <h4 class="pad-btm">Configure Base Command Settings</h4>
    <hr>
    <div class="row-fluid">
      <div class="span4">
        <div class="widget-box ">
          <div class="widget-title">
            <span class="icon"> <i class="icon-key"></i> </span>
            <h5>Configured Languages:</h5>
          </div>
          <div class="widget-content nopadding">
            <div class="span12">
              <table style="width: 100%;" class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Sr#</th>
                    <th>Language</th>
                    <th>Date Added</th>
                  </tr>
                </thead>
                <tbody>
                  <!--  <tr *ngFor="let t of tts">
                    <td>{{t.a}}</td>
                    <td>{{t.b}}</td>
                    <td>{{t.c}}</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="span8">
        <div class="widget-box ">
          <div class="widget-title">
            <span class="icon"> <i class="icon-key"></i> </span>
            <h5>Configure Language</h5>
          </div>
          <form class="form-horizontal" (ngSubmit)="f.form.valid && submitBaseCommands(f);" #f="ngForm"
            accept-charset="UTF-8">
            <span style="color: red;"> Note: *All regular expressions must be comma separated strings</span>
            <div class="control-group">
              <div class="span6"><label class="control-label"> Select Language: </label>
                <div class="input-group">
                  <select (change)="getFileTypeDetails($event);" id="ddlLanguageMaster" class="form-control"
                    [(ngModel)]="baseCommands.LanguageId" #LanguageId="ngModel" ngModel autofocus="autofocus"
                    name="LanguageId">
                    <option value=null>Select Language</option>
                    <option *ngFor="let l of allLanguages;" value="{{l._id}}" class="select2-choice" tabindex="-1">
                      {{l.LanguageName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="span6"><label class="control-label"> Select File/Object Type: </label>
                <div class="input-group">
                  <select id="ddlFileTypeMaster" class="form-control" [(ngModel)]="baseCommands.FileTypeMasterId"
                    autofocus="autofocus" #FileTypeMasterId="ngModel" name="FileTypeMasterId">
                    <option value=null>Select File/Object Type</option>
                    <option *ngFor="let l of fileTypeMasters;" value="{{l._id}}" class="select2-choice" tabindex="-1">
                      {{l.FileTypeName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="span12">
                <div class="span6"><label class="control-label"> Class Start: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.ClassStart" #ClassStart="ngModel" ngModel autofocus="autofocus"
                      name="ClassStart" type="text" placeholder="If empty, class name will be file name..."
                      data-title="like public / abstract class in C#" class="tip form-control" data-original-title="">
                  </div>
                </div>
                <div class="span6">
                  <label class="control-label"> Class End: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.ClassEnd" #ClassEnd="ngModel" ngModel name="ClassEnd" type="text"
                      data-title="End of class in C# -- }" class="tip form-control"
                      placeholder="Keep empty, if no class start string">
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="span12">
                <div class="span6">
                  <div class="span10">
                    <label class="control-label">Use First Line as Object's business description?:</label>
                  </div>
                  <div class="span2" style="padding-top: 5px;">
                    <div class="input-group text-left" style="padding-top: 10px;">
                      <div class="pretty p-svg p-curve p-bigger">
                        <input [(ngModel)]="baseCommands.FirstLineAsObjectBusinessDesc"
                          name="FirstLineAsObjectBusinessDesc" type="checkbox"
                          #FirstLineAsObjectBusinessDesc="ngModel" checked />
                        <div class="state p-success">
                          <i class="icon mdi mdi-check"></i>
                          <svg class="svg svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                              style="stroke: white;fill:white;"></path>
                          </svg>
                          <label></label>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="span12">
                <div class="span6"><label class="control-label"> Block Comment Start: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.BlockComment.Start" name="BlockCommentStart"
                      #BlockCommentStart="ngModel" ngModel type="text" class="form-control"
                      placeholder="Block comment start string" required="required">
                  </div>
                </div>
                <div class="span6"> <label class="control-label"> Block Comment End: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.BlockComment.End" name="BlockCommentEnd" type="text"
                      class="form-control" placeholder="Block comment end string" required="required">
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="span12">
                <div class="span6"><label class="control-label"> Method / Paragraph Start (Regex): </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.MethodOrParagraph.Start" name="MethodOrParaStart" type="text"
                      class="form-control" placeholder="Method / paragraph start string(s)" required="required">
                  </div>
                </div>
                <div class="span6"> <label class="control-label"> Method / Paragraph End: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.MethodOrParagraph.End" name="MethodOrParaEnd" type="text"
                      class="form-control" placeholder="Method / paragraph end string(s)" required="required">
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="span12">
                <div class="span4"> <label class="control-label"> If Start (Regex): </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.IfStart" name="IfStart" type="text" class="form-control"
                      placeholder="If start statements" required="required">
                  </div>
                </div>
                <div class="span4"> <label class="control-label"> Else: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.ElseBlock" name="ElseBlock" type="text" class="form-control"
                      placeholder="Else statements" required="required">
                  </div>
                </div>
                <div class="span4"> <label class="control-label"> If End: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.IfEnd" name="IfEnd" type="text" class="form-control"
                      placeholder="End if statements">
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="span12">
                <div class="span6"> <label class="control-label"> Call External: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.CallExternal" name="CallExternal" type="text" class="form-control"
                      placeholder="Call external string(s)" required="required">
                  </div>
                </div>
                <div class="span6"> <label class="control-label"> Call Internal (Regex):
                  </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.CallInternal" name="CallInternal" type="text" class="form-control"
                      placeholder="Call internal string(s)" required="required">
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="span12">
                <div class="span6"> <label class="control-label"> Loop Start: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.Loop.Start" name="LoopStart" type="text" class="form-control"
                      placeholder="Loop start string(s)" required="required">
                  </div>
                </div>
                <div class="span6"> <label class="control-label"> Loop End: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.Loop.End" name="LoopEnd" type="text" class="form-control"
                      placeholder="Loop end string(s)" required="required">
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="span12">
                <div class="span6">
                  <label class="control-label"> Line Comment: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.LineComment" name="LineComment" type="text" class="form-control"
                      placeholder="Line comment string" required="required">
                  </div>
                </div>
                <div class="span6"><label class="control-label"> Comment within line: </label>
                  <div class="input-group">
                    <input [(ngModel)]="baseCommands.CommentWithinLine" name="CommentWithinLine" type="text"
                      class="form-control" placeholder="Comment Within Line" required="required">
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group col-xs-4">
              <div class="input-group text-right">
                <button [disabled]="!f.valid" class="btn btn-success" type="submit">Submit</button>
              </div>
            </div>
            <div class="control-group col-xs-4">
              <div> <span style="color: red; font-size: medium;"> {{message.text}}</span></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
