<app-page-preload></app-page-preload>
<app-top-header-bar></app-top-header-bar>
<app-left-menu></app-left-menu>
<div id="content">
  <app-page-bread-crumb></app-page-bread-crumb>
  <div class="container-fluid">
    <h4 class="pad-btm">Uploaded Projects</h4>
    <hr>
    <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Uploaded projects and details:</h5>
      </div>
      <div class="widget-content nopadding widget-box">
        <div class="widget-content nopadding">
          <table class="table table-bordered data-table" id="example">
            <thead>
              <tr>
                <th>Sr#</th>
                <th>Project Name</th>
                <th>Language</th>
                <th>Total Objects</th>
                <th>Uploaded Date</th>
                <th>Processed Date</th>
                <th>Processing Status</th>
                <th>Active?</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>              
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
