<div id="content-header">
  <div id="breadcrumb" class="language-settings">
    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="/language-settings">Language Settings</a>
    <a href="#">Add Language</a>
  </div>
  <div id="breadcrumb" class="command-settings">
    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="/language-settings">Language Settings</a>
    <a href="/language-settings/command-settings">Command Settings</a>
  </div>
  <div id="breadcrumb" class="file-type-master">
    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="/language-settings">Language Settings</a>
    <a href="/language-settings/file-type-master">File Types Master</a>
  </div>
  <div id="breadcrumb" class="configure-file-types">
    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="/language-settings">Language Settings</a>
    <a href="/language-settings/configure-file-types">Configure File Types</a>
  </div>
  <div id="breadcrumb" class="language-configuration">
    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="/language-settings">Language Settings</a>
    <a href="/language-settings/language-configuration">Language Configuration</a>
  </div>
  <div id="breadcrumb" class="search">
    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="/search">Search</a>
    <a href="/search/keyword-search">Keyword Search</a>
  </div>
  <div id="breadcrumb" class="object-search">
    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="/search">Search</a>
    <a href="/search/object-search">Object Search</a>
  </div>
</div>
