<app-page-preload></app-page-preload>
<app-top-header-bar></app-top-header-bar>
<app-left-menu></app-left-menu>
<div id="content">
  <app-page-bread-crumb></app-page-bread-crumb>
  <div class="container-fluid">
    <h4 class="pad-btm">Roles</h4>
    <hr>
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title">
            <h5>Roles</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped data-table">
              <thead>
                <tr>
                  <th></th>
                  <th>Role Name</th>
                  <th>Description</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="span6 add-role">
        <div class="widget-box ">
          <div class="widget-title">
            <h5>Add Role:</h5>
          </div>
          <form class="form-horizontal" (ngSubmit)="f.form.valid && submitRole(f);" #f="ngForm" accept-charset="UTF-8">
            <div class="control-group">
              <label class="control-label"> Role Name: </label>
              <div class="input-group">
                <input [(ngModel)]="roleMaster.RoleName" autofocus="autofocus" name="RoleName" type="text"
                  class="form-control" placeholder="Role Name" required="required">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label"> Role Description: </label>
              <div class="input-group">
                <input [(ngModel)]="roleMaster.RoleDescription" name="RoleDescription" type="text" class="form-control"
                  placeholder="Role Description (Optional)">
              </div>
            </div>
            <div class="control-group col-xs-4">
              <div class="input-group text-right">
                <button [disabled]="!f.valid" class="btn btn-success" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="span6 role-details">

      </div>
      <div class="span6 update-role">
        
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
