<app-page-preload></app-page-preload>
<app-top-header-bar></app-top-header-bar>
<app-left-menu></app-left-menu>
<div id="content">
  <app-page-bread-crumb></app-page-bread-crumb>
  <div class="container-fluid">
    <div class="widget-box">
      <div class="widget-title">
        <h5>Upload CSV with details</h5>
      </div>
      <div class="widget-content nopadding">
        <form>
          <div class="form-group">
            <label for="csvFile">Select CSV File:</label>
            <input type="file" id="csv-file" name="csvFile">
          </div>         
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>